<%= form_for @article do %>
  <input type="text" name="title" value="<%= @article.title %>" />
  <p><%= @article.errors[:title].first %></p>
  <% if @article.persisted? %>
    <input type="submit" value="Modifier l'article" />
  <% else %>
    <input type="submit" value="Ajouter l'article" />
  <% end %>
<% end %>
