
<section class="large-10 large-offset-2 columns" id="accueil">

<h1>Le blog minimaliste</h1>

<h2>Liste des articles</h2>


<ul>
    <% @articles.each do |article| %>
          <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
    <% end %>
</ul>

<br/>

<%= paginate @articles %>
</section>